<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Sua Chave de Acesso à API foi gerada</h1>
    <p>
      Seu id (API_ID) é: <%= @api_id %><br/>
      <br/>
      Sua chave secreta (API_SECRET) é: <%= @api_secret %><br/>
      <br/>
    </p>

    <h3>Como utilizar?</h3>
    <p>
    Para mais informações sobre como utilizar nossa API visite <%= link_to "esta página", api_index_url %>.
    </p>

  </body>
</html>

