<div class="box-sobre clearfix">
  <h1>Menu de Administração</h1>
  <p>
    <%= link_to "Multas invisíveis (excluídas)", invisiveis_admin_index_path %><br/>
    <%= link_to "Listagem textual de multas e IPs", lista_admin_index_path %><br/>
    <%= link_to "Ver Blacklist", blacklist_admin_index_path %><br/>
  </p>
  <br/><br/><br/><br/>
</div>