<a href="https://twitter.com/share" class="twitter-share-button" data-text="Novo site para denunciar a falta de cidadania no trânsito, com fotos e vídeos!" data-via="MultasSociais" data-lang="en" data-hashtags="MultasSociais">Tweet</a>
<a href="https://twitter.com/MultasSociais" class="twitter-follow-button" data-show-count="true" data-lang="pt">Follow @MultasSociais</a>
<a href="https://twitter.com/intent/tweet?button_hashtag=MultasSociais" class="twitter-hashtag-button" data-lang="en" data-related="MultasSociais" data-url="http://www.MultasSociais.net">Tweet #MultasSociais</a>
