<div class="box-sobre clearfix">
  <div class="grid_16">
    <h1>API Multas Sociais</h1>
  
    <h2>Estamos gerando seu id e senha para acessar a API do Multas Sociais.</h2>
    
    <h3>Verifique seu e-mail</h3>
    <p>
    Seu id e senha foram enviados para o e-mail <%= @email %>.
    </p>
    
    <h3>Como utilizar?</h3>
    <p>
    Para mais informações sobre como utilizar nossa API visite <%= link_to "esta página", api_index_path %>.
    </p>
    
    <p>
    Qualquer dúvida, envie um e-mail para <a href="mailto:api@multassociais.net" target="_blank">api@multassociais.net</a>.
    </p>

  </div>
  <br/>
</div>
